.item-wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    background-color: white;
    color: #333333;
    box-shadow: 0px 0px 10px rgba(83, 98, 124, 0.2);

    &__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 8px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
        border-bottom: 1px solid #d7d7d7;
      }

      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      &__service-name > span {
        font-weight: bold;
        font-size: 14px;
        color: #003366;
      }
      &__cost-price {
        font-weight: bold;
        font-size: 14px;
        color: #333;
      }
    }
    &__body {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;

      &__info {
        display: flex;
        &__car-brand-image {
          width: 40px;
          height: 40px;
          margin-right: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__customer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          &__name {
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: #003366;
          }
          &__auto {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #333;
          }
        }
      }
      &__rating {
        width: 49px;
        height: 36px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        background-color: #003366;
      }
    }
    &__footer {
      display: flex;
      flex-direction: flex-start;
      text-align: left;
      justify-content: space-between;
      /*align-items: flex-end;*/

      &__useful {
        display: flex;
        width: fit-content;
      }
    }
  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    background-color: white;
    color: #333333;
    border-bottom: 1px solid #d7d7d7;

    &__header {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-bottom: 8px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
        border-bottom: 1px solid #d7d7d7;
      }

      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      &__service-name > span {
        font-weight: bold;
        font-size: 14px;
        color: #003366;
      }
      &__cost-price {
        font-weight: bold;
        font-size: 14px;
        color: #333;
      }
    }
    &__body {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;

      &__info {
        display: flex;
        &__car-brand-image {
          width: 40px;
          height: 40px;
          margin-right: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__customer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          &__name {
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: #003366;
          }
          &__auto {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #333;
          }
        }
      }
      &__rating {
        width: 49px;
        height: 36px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        background-color: #003366;
      }
    }
    &__footer {
      display: flex;
      flex-direction: flex-start;
      text-align: left;
      justify-content: space-between;

      &__useful {
        display: flex;
        width: fit-content;
        height: fit-content;
      }
    }
  }
}
