.header {
  background-color: #282c34;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* INPUT STYLES: V2 */

.simpleBox {
  margin: 50px 0;
  width: calc(100% - 10px); /* for small devices */
  max-width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.simpleBox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.simpleBox .inputBox {
  position: relative;
}
.simpleBox .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  letter-spacing: 1px;
  outline: none;
}
.simpleBox .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.simpleBox .inputBox input:focus ~ label,
.simpleBox .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.simpleBox .inputBox input[type='submit'] {
  background: transparent;
  font-family: 'Montserrat';
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.likeTitle {
  margin-bottom: 20px;
}
.muted {
  opacity: 0.4;
}

/* LIST STYLES */

.samples-container {
  display: flex;
  &__sample-list > div {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
    &__sample-list:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    justify-content: space-evenly;
    > div:not(:last-child) {
      margin-right: 20px;
    }
  }

  margin-bottom: 50px;
}
