.item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 1.3em;

  &__remove-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s linear;

    &:hover {
      background-color: #fff;
      color: gray;
    }

    > i {
      font-size: 20px;
    }
  }

  > div:not(:last-child) {
    margin-right: 10px;
  }
}
